{{- $machineType := promptChoice "Machine type" (list "personal" "work") -}}
{{- $isServer := promptBool "Is this a server?" false -}}

data:
  machine_type: "{{ $machineType }}"
  is_server:     {{ $isServer }}
  git_name:     "{{ if eq $machineType "work" }} Sébastien RUET              {{ else }} ruets           {{ end }}"
  git_email:    "{{ if eq $machineType "work" }} sebastien.ruet@insa-lyon.fr {{ else }} ruets@proton.me {{ end }}"

  packages:
    saucecodepro: {{ if eq .chezmoi.os "darwin" }} cask "font-sauce-code-pro-nerd-font" {{ else }}  {{ end }}

    fish:         {{ if eq .chezmoi.os "darwin" }} brew "fish"           {{ else }} fish    {{ end }}
    starship:     {{ if eq .chezmoi.os "darwin" }} brew "starship"       {{ else }}         {{ end }}
    fastfetch:    {{ if eq .chezmoi.os "darwin" }} brew "fastfetch"      {{ else }}         {{ end }}

    eza:          {{ if eq .chezmoi.os "darwin" }} brew "eza"            {{ else }} eza     {{ end }}
    git:          {{ if eq .chezmoi.os "darwin" }} brew "git"            {{ else }} git     {{ end }}
    commitizen:   {{ if eq .chezmoi.os "darwin" }} brew "commitizen"     {{ else }}         {{ end }}
    ripgrep:      {{ if eq .chezmoi.os "darwin" }} brew "ripgrep"        {{ else }} ripgrep {{ end }}
    fzf:          {{ if eq .chezmoi.os "darwin" }} brew "fzf"            {{ else }} fzf     {{ end }}
    fd:           {{ if eq .chezmoi.os "darwin" }} brew "fd"             {{ else }} fd-find {{ end }}
    less:         {{ if eq .chezmoi.os "darwin" }} brew "less"           {{ else }} less    {{ end }}
    bat:          {{ if eq .chezmoi.os "darwin" }} brew "bat"            {{ else }} bat     {{ end }}
    jq:           {{ if eq .chezmoi.os "darwin" }} brew "jq"             {{ else }} jq      {{ end }}
    gum:          {{ if eq .chezmoi.os "darwin" }} brew "gum"            {{ else }}         {{ end }}

    htop:         {{ if eq .chezmoi.os "darwin" }} brew "htop"           {{ else }} htop    {{ end }}
    btop:         {{ if eq .chezmoi.os "darwin" }} brew "btop"           {{ else }} btop    {{ end }}
    tmux:         {{ if eq .chezmoi.os "darwin" }} brew "tmux"           {{ else }} tmux    {{ end }}
    neovim:       {{ if eq .chezmoi.os "darwin" }} brew "neovim"         {{ else }} neovim  {{ end }}
    claude-code:  {{ if eq .chezmoi.os "darwin" }} cask "claude-code"    {{ else }}         {{ end }}
    lazygit:      {{ if eq .chezmoi.os "darwin" }} brew "lazygit"        {{ else }}         {{ end }}
    yazi:         {{ if eq .chezmoi.os "darwin" }} brew "yazi"           {{ else }}         {{ end }}

    dua:          {{ if eq .chezmoi.os "darwin" }} brew "dua-cli"        {{ else }}         {{ end }}
    posting:      {{ if eq .chezmoi.os "darwin" }} brew "posting"        {{ else }}         {{ end }}
    sqlite:       {{ if eq .chezmoi.os "darwin" }} brew "sqlite"         {{ else }} sqlite3 {{ end }}
    libqalculate: {{ if eq .chezmoi.os "darwin" }} brew "libqalculate"   {{ else }} qalc    {{ end }}
    texlive:      {{ if eq .chezmoi.os "darwin" }}                       {{ else }} texlive {{ end }}
    gitnr:        {{ if eq .chezmoi.os "darwin" }}                       {{ else }}         {{ end }}


    {{ if not $isServer }}
    kitty:         {{ if eq .chezmoi.os "darwin" }} cask "kitty"         {{ else }} kitty       {{ end }}
    1password:     {{ if eq .chezmoi.os "darwin" }} cask "1password"     {{ else }}             {{ end }}
    1password-cli: {{ if eq .chezmoi.os "darwin" }} cask "1password-cli" {{ else }}             {{ end }}
    discord:       {{ if eq .chezmoi.os "darwin" }} cask "discord"       {{ else }}             {{ end }}
    google-chrome: {{ if eq .chezmoi.os "darwin" }} cask "google-chrome" {{ else }}             {{ end }}
    qbittorrent:   {{ if eq .chezmoi.os "darwin" }} cask "qbittorrent"   {{ else }} qbittorrent {{ end }}
    spotify:       {{ if eq .chezmoi.os "darwin" }} cask "spotify"       {{ else }}             {{ end }}

    {{ if eq .chezmoi.os "darwin" }}
    skhd:
    orbstack: cask "orbstack"
    {{ else }}
    hyprland:
    hypridle:
    hyprshade:
    hyprpicker:
    hyprmon:
    hyprpanel:
    waybar:
    rofi:          rofi
    wlogout:
    swaylock-effects:
    smile:
    waypaper:
    awww:
    matugen:

    dunst:         dunst
    nerd-fonts.fira-code:
    nerd-fonts.jetbrains-mono:
    fira:
    bibata-cursors:
    xdg-desktop-portal:
    xdg-desktop-portal-hyprland:
    xdg-desktop-portal-wlr:
    xdg-desktop-portal-gtk:
    pipewire:      pipewire
    wireplumber:   wireplumber

    tty-clock:     tty-clock
    cava:          cava
    cmatrix:       cmatrix
    brightnessctl: brightnessctl
    acpi:          acpi
    cliphist:      cliphist
    wl-clipboard:  wl-clipboard
    xclip:


    mission-center:
    zathura:       zathura
    solaar:        solaar
    freerdp:
    scrcpy:        scrcpy
    waydroid:
    grimblast:
    pinta:
    swappy:
    mpv:           mpv
    kooha:
    obs-studio:    obs-studio
    showmethekey:
    {{ end }}
    {{ end }}
 
    {{ if eq $machineType "work" }}
    bitwarden:
    {{ end }}
